.contenedor-base {
  	width: 100%;
  	margin: auto;
  	overflow: hidden;
}

.subtitulo {
	 font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 60px;
     text-align: left;

}

/* HEADER */

header {
    background-color: #7644B7;
}

header .menu {
  	margin: 40px 0;
  	text-align: right;
}

header .menu a {
  	margin-right: 40px;
  	color: white;
  	font-size: 24px;
  	text-decoration: none;
  	border-bottom: 2px solid transparent;

}

header .menu a:hover {
	border-bottom: 2px solid white;
}



/* DATOS PERSONALES */

.datosPersonales {
	padding: 50px 100px 50px 100px;
	justify-content: center;
}

.datosPersonales .contenedor-datos-foto {
	display: flex;
	margin-top: 25px;
}

.datosPersonales .contenedor-datos-foto .datos {
	display: flex;
	margin-right: 50px;
	margin-top: 30px;
}

.datosPersonales .contenedor-datos-foto .datos .contenedor-input .text-input {
	display: flex;
	margin-top: 10px;
	float: right;
	margin-top: 10px;
}

.datosPersonales .contenedor-datos-foto .datos .contenedor-input .input-campo {
	background: #FFFFFF;
    border: 4px solid #AEC4E1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 5px;
    padding: 10px;
}

.botonVioleta {
  	background: white;
  	border: 2px solid #3D3D3D;
  	border-radius: 50px;
  	padding: 10px 40px;
	font-size: 24px;
	margin-top: 40px;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
}

.botonVioleta:hover {
  	color: #7011B2;
  	border: 2px solid #7011B2;
}

/* FOOTER */

.footer {
	background-color: #7644B7;
	padding: 80px;
}