<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administrar Delegaciones</title>
    <link rel="stylesheet" href="../static/Usuarios/Usuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Resources/letras.css">
</head>
<body>

<header>
    <div class="contenedor-base">
        <nav class="menu">
            <a href="" class="sub-titulo">Home</a>
            <a href="" class="sub-titulo">Cerrar Sesión</a>
        </nav>
    </div>
</header>

<section class="main">
    <div class="contenedor-base">
        <h3 class="subtitulo">Reporte Delegaciones</h3>

        <div class="tabla">
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="texto-simple filas">
                        <thead>
                        <tr>
                            <th><span class="text">Delegación</span></th>
                            <th><span class="text">Delegado</span></th>
                            <th><span class="text">Permitido</span></th>
                            <th><span class="text">Estado</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        <tr> <td>0000001</td> <td>Persona 1</td> <td>Persona 2</td> <td>Pendiente</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="footer"></section>


</body>
</html>