<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Iniciar Sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" href="../static/Resources/Contenedores.css" th:href="@{/Resources/Contenedores.css}">
    <link rel="stylesheet" href="../static/Iniciar_Sesion/Iniciar_Sesion.css" th:href="@{/Iniciar_Sesion/Iniciar_Sesion.css}">

</head>
<body>

<section class="main">

    <div class="contenedor-general-row">

        <div class="contenedor3 left" style="background-color:#7644B7;">
            <div class="texto">
                <h1 class="titulo" >Bienvenido</h1>
            </div>
        </div>

        <div class="contenedor7 right">

            <div class="texto">
                <h1 class="titulo" >Iniciar Sesion</h1>
            </div>

            <form class="iniciar-sesion" action="validar">

                <div class="text-input">
                    <div class="texto">
                        <label>Usuario</label>
                    </div>
                    <input type="text" name="usuario" >
                </div>

                <div class="text-input">
                    <div class="texto">
                        <label>Contraseña</label>
                    </div>
                    <input type="password" name="password" >
                </div>

                <input class="boton" type="submit" value="Iniciar">

            </form>

        </div>



    </div>


</section>

</body>
</html>
