<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Menú (Administrador)</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Menu_Admin/Menu_Admin.css" th:href="@{/Menu_Admin/Menu_Admin.css}">
    <link rel="stylesheet" href="../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">

</head>
<body>
<header>
    <div class="contenedor-base">

        <div class="contenedor-texto-header">
            <div class="texto">
                <h1 class="titulo-principal">Home</h1>
            </div>
        </div>

        <nav class="menu">
            <a href="/Home_Estandar">Home</a>
            <a href=".">Cerrar Sesion</a>
        </nav>
    </div>
</header>

    <div class="contenedor-botones">

        <button class="botonVioleta" type="button">Ver Usuarios</button>
        <button class="botonVioleta" type="button">Ver Delegaciones</button>

    </div>



</body>
</html>