<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Notificaciones</title>
    <link rel="stylesheet" href="../static/Notificaciones/Notificaciones.css">
    <link rel="stylesheet" href="../static/Resources/Letras.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
</head>
<body>

<header>
    <div class="contenedor-base">

        <div class="contenedor-texto-header">
            <div class="texto">
                <h1 class="subtitulo">Notificaciones</h1>
            </div>
        </div>

        <nav class="menu">
            <a href="/Home_Estandar" class="sub-titulo">Home</a>
            <a href="." class="sub-titulo">Cerrar Sesion</a>
        </nav>
    </div>
</header>

<section class="main">

    <div class="contenedor-base">

        <div class="notificaciones">

            <div class="notif-delegacion-recibida">
                <div class="texto-simple">
                    <p>Delegación recibida por parte de Persona X</p>
                    <p>DNI: 00000000</p>
                </div>
                <br>
                <div class="botones">
                    <button class="botonVioleta2 texto-boton2" type="button">Aceptar</button>
                    <button class="botonVioleta2 texto-boton2" type="button">Rechazar</button>
                </div>
            </div>
            <br>
            <div class="delegacion-rechazada">
                <div class="texto-simple">
                    <p>Delagación rechazada por parte de Persona X</p>
                    <p>DNI: 00000000</p>
                </div>
            </div>
            <br>
            <div class="notif-delegacion-recibida">
                <div class="texto-simple">
                    <p>Delegación recibida por parte de Persona X</p>
                    <p>DNI: 00000000</p>
                </div>
                <br>
                <div class="botones">
                    <button class="botonVioleta2 texto-boton2" type="button">Aceptar</button>
                    <button class="botonVioleta2 texto-boton2" type="button">Rechazar</button>
                </div>
            </div>

        </div>

    </div>

</section>

</body>
</html>