<!DOCTYPE html>
<html lang="en">

<head class="head">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Pagina Principal</title>
    <link rel="stylesheet" href="../static/Pagina_Principal/index.css">

</head>

<body>

    <section class="main">

        <div class="contenedor-base">

            <h1 class="titulo-principal">Bienvenido</h1>

            <div class="opciones">
                <button class="botonVioleta boton" type="button">Registrar Usuario</button>
                <button class="botonVioleta boton" type="button">Iniciar Sesión</button>
            </div>

            <div class="contenedor-img">
                <img src="../static//Pagina_Principal/img/boletin.png" alt="Boletín Oficial">
            </div>

        </div>

    </section>

</body>
</html>