<!DOCTYPE html>
<html lang="en">

<head class="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pagina Principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/Letras.css">
    <link rel="stylesheet" href="../static/Resources/Bienvenidos.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Pagina_Principal/Pagina_Principal.css">

</head>

<body>

<section class="main">

    <div class="contenedor-base">

        <h1 class="titulo-principal">BIENVENIDO</h1>

        <div class="opciones">
            <button class="botonVioleta boton texto-boton" type="button">Registrar Usuario</button>
            <br>
            <button class="botonVioleta boton texto-boton" type="button">Iniciar Sesión</button>
        </div>

        <div class="contenedor-img">
            <img src="../static//Pagina_Principal/img/boletin.png" alt="Boletín Oficial">
        </div>

    </div>

</section>

</body>
</html>