<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/Registrarse_1/Registrarse_1.css">
    <link rel="stylesheet" href="../static/Resources/Contenedores.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">

</head>
<body>
<section class="main">
    <div class="contenedor-general-row">

        <div class="contenedor3 left" style="background-color:#7644B7;">
            <div class="texto">
                <h1 class="titulo" >Bienvenido</h1>
            </div>
        </div>

        <div class="contenedor7 right">

            <div class="texto">
                <h1 class="titulo" >Registrarse</h1>
            </div>

            <form class="iniciar-sesion" action="validar">

                <div class="text-input">
                    <div class="texto">
                        <label>DNI</label>
                    </div>
                    <input type="text" name="dni" >
                </div>

                <input class="boton" type="submit" value="Registrarse">

            </form>

        </div>

    

    </div>
</section>

</body>
</html>