<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/Registrarse_1/Registrarse_1.css">
    <link rel="stylesheet" href="../static/Resources/Contenedores.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Resources/Letras.css">

</head>
<body>

<section class="main">

    <div class="contenedor-general-row">

        <div class="contenedor3 left" style="background-color:#7644B7;">
            <div class="texto">
                <h1 class="titulo">Bienvenido</h1>
            </div>
        </div>

        <div class="contenedor7 right">

            <div class="texto">
                <h1 class="titulo">Registrarse</h1>
            </div>

            <form class="iniciar-sesion" action="validar">

                <div class="text-input">
                    <div class="texto">
                        <label>Usuario</label>
                    </div>
                    <input type="text" name="usuario">
                </div>

                <div class="text-input">
                    <div class="texto">
                        <label>Contraseña</label>
                    </div>
                    <input type="password" name="password">
                </div>

                <div class="text-input">
                    <div class="texto">
                        <label>Fecha de Nacimiento</label>
                    </div>
                    <input type="date" name="nacimiento">
                </div>

                <div class="text-input">
                    <div class="texto">
                        <label>Ciudad</label>
                    </div>
                    <input type="text" name="ciudad">
                </div>

                <div class="text-input">
                    <div class="texto">
                        <label>Localidad de Residencia</label>
                    </div>
                    <input type="text" name="localidad">
                </div>

                <input class="boton botonVioleta texto-boton" type="submit" value="Iniciar">

            </form>

        </div>



    </div>


</section>


</body>
</html>