<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Usuarios</title>
    <link rel="stylesheet" href="../static/Usuarios/Usuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Resources/letras.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<header>
    <div class="contenedor-base">
        <nav class="menu">
            <a href="" class="sub-titulo">Home</a>
            <a href="" class="sub-titulo">Cerrar Sesión</a>
        </nav>
    </div>
</header>

<section class="main" id="main">
    <div class="contenedor-base">
        <h3 class="subtitulo">Reporte Personas</h3>

        <div class="tabla">
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="texto-simple filas">
                        <thead>
                        <tr>
                            <th><span class="text">DNI</span></th>
                            <th><span class="text">Nombre</span></th>
                            <th><span class="text">Apellido</span></th>
                            <th><span class="text">Ciudad</span></th>
                            <th><span class="text">Localidad</span></th>
                            <th><span class="text">Fecha de Nacimiento</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="usuarioEstandar in usuarios">
                            <td>{{usuarioEstandar.dni}}</td>
                            <td>{{usuarioEstandar.nombre}}</td>
                            <td>{{usuarioEstandar.apellido}}</td>
                            <td>{{usuarioEstandar.ciudad}}</td>
                            <td>{{usuarioEstandar.localidadResidencia}}</td>
                            <td>{{usuarioEstandar.fechaDeNacimiento}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="footer"></section>

<script src="../static/Usuarios/usuarios.js"></script>
</body>
</html>